<h4>References</h4>
<div class="form-group">
    <form [formGroup]="referencesForm">
        <div formArrayName="references">
            <div *ngFor="let reference of references.controls; let i = index" [formGroupName]="i"
                class="notable-people">
                <div>
                    <label for="referenceName">Name</label>
                    <input type="text" id="referenceName" placeholder="Refernece Name" formControlName="name">
                </div>
                <div>
                    <label for="referenceCompany">Company</label>
                    <input type="text" id="referenceCompany" placeholder="Person Company" formControlName="company">
                </div>
                <div>
                    <label for="referencePhone">Phone</label>
                    <input type="number" id="referencePhone" placeholder="Refernece Phone" formControlName="phone">
                </div>
                <div>
                    <label for="referenceEmail">Email</label>
                    <input type="email" id="referenceEmail" placeholder="Refernece Email" formControlName="email">
                </div>
                <button type="button" (click)="removeReference(i)">
                    Remove Refernece
                </button>
            </div>
        </div>
        <button type="button" (click)="addReference()">
            Add one more reference
        </button>
    </form>
</div>