<div class="add-sections-container">
    <h4>Add Sections </h4>
    <div class="list-group">
        <button type="button" class="btn btn-outline-primary list-group-item list-group-item-action" (click)="onAddCustomSections()">Custom Section</button>
        <button type="button" class="btn btn-outline-primary list-group-item list-group-item-action" (click)="onAddExtraCurricularActivities()" [disabled]="extraCurricularActivitiesAdded">Extra Curricular Activities</button>
        <button type="button" class="btn btn-outline-primary list-group-item list-group-item-action" (click)="onAddHobbies()" [disabled]="hobbiesAdded">Hobbies</button>
        <button type="button" class="btn btn-outline-primary list-group-item list-group-item-action" (click)="onAddReferences()" [disabled]="referencesAdded">References</button>
        <button type="button" class="btn btn-outline-primary list-group-item list-group-item-action" (click)="onAddCourses()" [disabled]="coursesAdded">Courses</button>
        <button type="button" class="btn btn-outline-primary list-group-item list-group-item-action" (click)="onAddInternships()" [disabled]="internshipsAdded">Internships</button>
        <button type="button" class="btn btn-outline-primary list-group-item list-group-item-action" (click)="onAddLanguages()" [disabled]="languagesAdded">Languages</button>
    </div>
</div>