<h4>Extra-curricular Activities</h4>
<div>
    <form [formGroup]="extraCurricularActivitiesForm">
        <div formArrayName="extraCurricularActivities">
            <div class = "add-extraCurricularActivity" *ngFor="let extraCurricularActivitys of extraCurricularActivities.controls;
             let i = index" [formGroupName]="i">
                
                <div class = "personal-row">
                    <div class = "unit ">
                        <label for="extraCurricularActivityEmployer">Employer</label>
                        <input type="text" class = "form-control" 
                        id="extraCurricularActivityEmployer" placeholder="e.g. Dereja" 
                        formControlName="employer"/>
                    </div>
                    <div class = "unit">
                        <label for="extraCurricularActivityJobTitle">Function</label>
                        <input type="text" class = "form-control" 
                        id="extraCurricularActivityJobTitle" placeholder="e.g. Marketing Bootcamp" 
                        formControlName="function">
                    </div>
            </div>


            <div class = "personal-row">

            <div class = "unit">
                <div >
                    <label for="extraCurricularActivityStartDate">Start Date</label>
                    <input type="date" class = "form-control"  
                    id="extraCurricularActivityStartDate" placeholder="Extra-curricular Activity Start Date" 
                    formControlName="startDate">
                </div>
                <div  >
                    <label for="extraCurricularActivityEndDate">End Date</label>
                    <input type="date" class = "form-control"  
                    id="extraCurricularActivityEndDate" placeholder="Extra-curricular Activity End Date" formControlName="endDate">
                </div>
            </div>


                <div class="unit">
                    <label for="extraCurricularActivityCity">City</label>
                    <input type="text"  class = "form-control"  
                    id="extraCurricularActivityCity" placeholder="e.g. Bahirdar" formControlName="city">
                </div>

            </div>
            
                <div>
                    <label for="extraCurricularActivityDescription">Description</label>
                    <textarea  type="text" class = "form-control"
                      id="extraCurricularActivityDescription" placeholder="Extra-curricular Activity Description"
                       formControlName="description" rows="5"></textarea>
                </div>
                <button class = "btn btn-outline-danger" 
                type="button" (click)="removeExtraCurricularActivity(i)">
                    Remove Extra-curricular Activity
                </button>
            </div>
        </div>
        <button type="button" class = "btn btn-outline-primary" (click)="addExtraCurricularActivity()">
            Add Extra-curricular Activity
        </button>
    </form>
</div>