.progress-container{

    padding:0.3rem;
    top:0; left:0;
    position: sticky;
    background-color: aliceblue;

    --e-global-color-primary: #F69321;
    --e-global-color-secondary: #2E5895;
    --e-global-color-text: #F39104;
 }

.progress-line {
    background-color: aliceblue;
    height: 0.3rem;
    border-radius: 1rem;

}
.line{
    margin-top:-1rem;
    border-radius: 1rem;
    height:0.3rem;
    transition: 1s;
}