.unit {
  width: 45%;
}

.relevant-skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;

}

.skill {
  margin-right: 0.5rem;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

input {
  background-color: rgb(239, 242, 249);
  height: calc(2.25em + 0.75rem + 2px);
}

@media (max-width: 550px) {
  .input-row {
    flex-direction: column;
  }

  .unit {
    width: auto;
  }
}

.hoover-feature{
  background-color: rgb(239, 242, 249);
  border: none;
  margin: 0px 12px 12px 0px;
  padding: 6px 6px 6px 10px;
  color: rgb(30, 37, 50);
  font-size: 0.9rem;
  line-height: 20px;
  transition: 0.1s;
  border-radius: 0.3rem;
  font-weight:bolder;
  color: rgb(130, 139, 162);
   
}


.hoover-feature:hover{
background-color: #e6f1ff;
color:   #1a91f0;
text-shadow: none;
}