
*{

}

.main-container{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    align-content: stretch;
    border: 1px solid black;

}
.right-segment{

    margin: 0.5rem;
    flex: 1 1 auto;
    border: 1px solid black;
    

}

.left-segment{
    margin: 0.5rem;
    flex: 1 1 1rem;
    border: 1px solid black;
}


