<div class="main-container">
    <div class="left-segment">
        <div class="main-form">
            <app-progress-bar></app-progress-bar>
            <app-personaldetails></app-personaldetails>
            <app-personal-summary></app-personal-summary>
            <app-experience></app-experience>
            <app-education></app-education>
            <app-skills></app-skills>
           <!-- <app-website-links></app-website-links>-->
            <app-hobbies *ngIf="hobbiesSection()"></app-hobbies>
            <app-languages *ngIf="languagesSection()"></app-languages>
            <app-internships *ngIf="internshipsSection()"></app-internships>
            <app-references *ngIf="referencesSection()"></app-references>
            <app-courses *ngIf="coursesSection()"></app-courses>
            <app-extra-curricular-activities *ngIf="extraCurricularActivitiesSection()"></app-extra-curricular-activities>
            <app-custom-section *ngIf="customSection()"></app-custom-section>
            <app-add-sections></app-add-sections>
            <button class="btn btn-primary" onclick="window.location.href='https://jami.bio/ananya';" >
               Tip The Engineers</button>

        </div>
    </div> 
    
    <div class="right-segment p-3">
        <div class="main-preview-window">
                <!-- <app-plain-template></app-plain-template> -->
                <app-generic-template></app-generic-template>
            </div>
        </div>
    </div>
