
.main-container{
    display: flex;
    /* margin: 1rem; */
    flex-wrap: wrap;
    align-content: stretch;


}
.right-segment{
    /* margin: 0.5rem; */
    flex: 1 1 1rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;

    background-color: #0c264c;

}

.left-segment{
    margin: 0.5rem;
    flex: 1 1 1rem;
    display: flex;
    justify-content: center;
}

.main-form {
    width:85%;

}
.main-preview-window{
    width:100%;


}

@media (max-width: 1200px) {
    .main-container {
      flex-direction: column;
    }
  }

  @media (max-width: 550px) {
    .main-form {
        width:auto;
    }
    .left-segment{
        padding:0.3rem;
    }

  }
