
.main-container{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    align-content: stretch;


}
.right-segment{
    margin: 0.5rem;
    flex: 1 1 1rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    top:0px;
}

.left-segment{

    margin: 0.5rem;
    flex: 1 1 1rem;

    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .main-container {
        
      flex-direction: column;

    }
  }

