<div class="main-container">
    <div class="left-segment">
        <div class="main-form">
            <app-progress-bar></app-progress-bar>
            <app-personaldetails></app-personaldetails>
            <app-personal-summary></app-personal-summary>
            <app-website-links></app-website-links>
            <app-references></app-references>
        </div>
    </div>
    
    <div class="right-segment">
        <div class="main-preview-window">
                <app-plain-template></app-plain-template>
                <!-- <app-preview-display></app-preview-display> -->
            </div>
        </div>
    </div>
