<h4>Languages</h4>
<div>
  <form [formGroup]="languagesForm">
    <div formArrayName="languages">
      <div class="add-links" *ngFor="let language of languages.controls; let i = index" [formGroupName]="i"
        class="language">
        <div class="input-row">
          <div class="unit">
            <label for="label">Language Name</label>
            <input class="form-control" type="text" id="label" placeholder="e.g. English" formControlName="languageName"
            (keyup)="capitalize('languageName', i)">
          </div>
          <div class="unit">
            <label for="proficiency">Proficiency Level</label>
            <select class="form-control" id="proficiency" formControlName="proficiency" required>
              <option selected value='"Native speaker"'>Native speaker</option>
              <option value='"Highly proficient"'>Highly proficient</option>
              <option value='"Very good command"'>Very good command</option>
              <option value='"Good working knowledge"'>
                Good working knowledge
              </option>
              <option value='"Working knowledge"'>Working knowledge</option>
            </select>
          </div>
        </div>

        <button class="btn btn-outline-danger" type="button" (click)="removeLanguage(i)">
          Remove Language
        </button>
      </div>
    </div>
    <button class="btn btn-outline-primary" type="button" (click)="addLanguage()">
      Add Language
    </button>
  </form>
</div>