<h4>Languages</h4>
<div>
  <form [formGroup]="languagesForm">
    <div formArrayName="links">
      <div
        class="add-links"
        *ngFor="let language of languages.controls; let i = index"
        [formGroupName]="i"
        class="language"
      >
        <div class="input-row">
          <div class="unit">
            <label for="label">Language Name</label>
            <input
              class="form-control"
              type="text"
              id="label"
              placeholder="Language"
              formControlName="languageName"
            />
          </div>
          <div class="unit">
            <label for="proficiency">Proficiency Level</label>
            <select
              class="form-control form-selec"
              id="proficiency"
              formControlName="proficiency"
              required
            >
              <option selected value='"Native speaker"'>Native speaker</option>
              <option value='"Highly proficient"'>Highly proficient</option>
              <option value='"Very good command"'>Very good command</option>
              <option value='"Good working knowledge"'>
                Good working knowledge
              </option>
              <option value='"Working knowledge"'>Working knowledge</option>
              <option value='"c2"'>C2</option>
              <option value='"c1"'>C1</option>
              <option value='"b2"'>B2</option>
              <option value='"b1"'>B1</option>
              <option value='"a2"'>A2</option>
              <option value='"a1"'>A1</option>
            </select>
          </div>
        </div>

        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="removeLanguage(i)"
        >
          Remove Language
        </button>
      </div>
    </div>
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="addLanguage()"
    >
      Add Language
    </button>
  </form>
</div>
