<div class = 'personal-details-container'>
    <div class="personal-header">
        <h4>Personal Detail</h4>
    </div>

    <form>
        <div class = "personal-rowone">
            <div class = "unit">
                <label for="jobTitle">Job Title</label><br>
                    <input type="text" class="" 
                    id="jobTitle" ngModel name="jobTitle" 
                    #jobTitle="ngModel">
            </div>
            <div class = "unit">
                <label for="jobTitle">Photo</label><br>
                    <input type="file" class="" 
                    id="jobTitle" ngModel name="jobTitle" 
                    #jobTitle="ngModel">
            </div>
        </div>


        <div class = "personal-rowtwo">
            <div class = "unit">
                <label for="firstname">First Name</label><br>
                    <input type="text" class="" 
                    id="firstname" ngModel name="firstname" 
                    #firstname="ngModel">
            </div>
            <div class = "unit">
                <label for="lastname">Last Name</label><br>
                    <input type="text" class="" 
                    id="lastname" ngModel name="lastname" 
                    #jobTitle="ngModel">
            </div>
        </div>


        <div class = "personal-rowthree">
            <div class = "unit">
                <label for="email">Email</label><br>
                    <input type="email" class="" 
                    id="email" ngModel name="email" 
                    #email="ngModel">
            </div>
            <div class = "unit">
                <label for="phone">Phone</label><br>
                    <input type="number" class="" 
                    id="phone" ngModel name="phone" 
                    #phone="ngModel">
            </div>
        </div>

        <div class = "personal-rowfour">
            <div class = "unit">
                <label for="country">Country</label><br>
                    <input type="text" class="" 
                    id="country" ngModel name="country" 
                    #country="ngModel">
            </div>
            <div class = "unit">
                <label for="city">City</label><br>
                    <input type="text" class="" 
                    id="city" ngModel name="city" 
                    #city="ngModel">
            </div>

           <div class = "personal-extension" *ngIf ='expand'>
                <div class = "unit">
                    <label for="address">Address</label><br>
                        <input type="text" class="" 
                        id="address" ngModel name="address" 
                        #address="ngModel">
                 </div>
                 <div class = "unit">
                    <label for="postalcode">Postal Code</label><br>
                        <input type="number" class="" 
                        id="postalcode" ngModel name="postalcode" 
                        #postalcode = "ngModel">
                 </div><br>
                 <div class = "unit">
                    <label for="nationality">Nationality</label><br>
                        <input type="text" class="" 
                        id="nationality" ngModel name="nationality" 
                        #nationality="ngModel">
                 </div>
                 <div class = "unit">
                    <label for="pob">Place of birth</label><br>
                        <input type="text" class="" 
                        id="pob" ngModel name="pob" 
                        #pob="ngModel">
                 </div><br>

                 <div class = "unit">
                    <label for="dob">Data of birth</label><br>
                        <input type="date" class="" 
                        id="dob" ngModel name="dob" 
                        #dob="ngModel">
                 </div>
            </div>
        </div>

        <div  class = "additional">
            <p (click) = "expandPersonal()" class="add">Additional
            </p>
        </div>

</form>
</div>