.unit{
    display: inline-block;
}

.personal-extension{
    animation-name: smooth;
    animation-duration: 3s;
}
  
  @keyframes smooth {
    0% {height: 0rem; ;opacity: 1%;}
    100% {height:20rem ;opacity: 100%;}
  }
  

  
  