.template-chooser-container {
    background-color: #081e3e;
    padding: 0px;
    margin: 0px;
}

.row {
    height: 90vh;
    width: 80vw;
    padding: 0px;
    margin: 0px;
}

.close-button {
    text-align: right;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button:focus {
    outline: none;
}

button img {
    max-width: 100%;
}
