/* You can add global styles to this file, and also import other style files */
*{
  font-weight:500;
  color:rgb(130, 139, 162) ;
}

h4{
  color:black;
}

::placeholder {
  font-weight: 100;
}

.add-experience, .personal-extension,
 .add-links, .add-reference, .add-education {
    animation-name: smooth;
    animation-duration: 0.75s;
}

button{
    width:100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @keyframes smooth {
    0% {opacity: 1%;}
    100% {opacity: 100%;}
  }

