*{
    font-weight:500;
}


h4{
    color:black;
}

.section-description{
    color:rgb(130, 139, 162) ;
  }

::placeholder {
    font-weight: 100;
  }

.ai-return{
overflow: hidden;
animation:smooth;
animation-duration: 0.75s;
}

.personal-space{
    background-color: rgb(239, 242, 249);
}

.summary-title{
    margin-bottom: 1rem;
}

.ai-section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ai-summery{
    width: 100%;
}

.choice-header{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ai-choice {
    background-color: aliceblue;
    z-index: 0;
}
.ai-selected {
    z-index :-1;

}

@keyframes smooth{
    0% {opacity: 1%;}
    100% {opacity: 100%;}
}