<h4>Links</h4>
<p>Choose 5 of the most important links to show your talents! Make sure they
    match the keywords of the job listing if applying via an online system. Choose from the following curated for you by the AI based on the job title you picked or add your own links.</p>
<div>
    <form [formGroup]="linksForm">
        <div formArrayName="links">
            <div *ngFor="let link of links.controls; 
            let i = index" [formGroupName]="i">
                <div class="input-row">
                    <div class="unit">
                        <label for="linkLabel">Label</label>
                        <input class="form-control" 
                        type="text" id="linkLabel" placeholder="e.g. LinkedIn"
                            formControlName="linkLabel" />
                    </div>
                    <div class="unit">
                        <label for="linkName">Link</label>
                        <input class="form-control" 
                        type="text" id="linkName" placeholder="e.g. https://www.linkedin.com/abebe-kebede"
                            formControlName="linkLabel" />
                    </div>
                </div>
                <button class="btn btn-outline-danger" 
                type="button" (click)="removeLink(i)">
                    Remove Link
                </button>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary"
         (click)="addLink()">
            Add Link
        </button>
    </form>
</div>