<div id="preview-window" class="container mt-5">
    <div class="row">
        <div class="col-md-4" *ngIf="personalDetails.touched">
            <!-- <img src="img/profile.jpg" alt="Profile Picture" class="img-fluid"> -->
            <h3>{{ personalDetails.value.firstName }} {{ personalDetails.value.lastName }}</h3>
            <p>{{ personalDetails.value.jobTitle }}</p>
            <ul class="list-unstyled">
                <li><strong>Email:</strong> {{ personalDetails.value.email }}</li>
                <li><strong>Phone:</strong> (251) {{ personalDetails.value.phone }}</li>
                <li><strong>Location:</strong> {{ personalDetails.value.city }}, {{ personalDetails.value.country }} </li>
                <li><strong>Address:</strong> {{ personalDetails.value.address }}</li>
                <li><strong>Place of birth:</strong> {{ personalDetails.value.pob }}</li>
                <li><strong>Date of birth:</strong> {{ personalDetails.value.dob }}</li>
                <li><strong>Nationality:</strong> {{ personalDetails.value.nationality }}</li>
                <li><strong>Postal Code:</strong> {{ personalDetails.value.postalCode }}</li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2>Summary</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non
                augue eu risus tristique suscipit. Nulla facilisi. Aliquam erat
                volutpat.</p>

            <h2>Experience</h2>
            <h4>Software Developer</h4>
            <p><strong>ABC Company</strong> | New York City, NY | 2018 - Present</p>
            <ul>
                <li>Developed and maintained various software applications using
                    Java and AngularJS.</li>
                <li>Collaborated with cross-functional teams to identify and
                    solve technical problems.</li>
                <li>Implemented new features and optimized existing code to
                    improve application performance.</li>
            </ul>

            <h4>Web Developer</h4>
            <p><strong>XYZ Agency</strong> | Los Angeles, CA | 2015 - 2018</p>
            <ul>
                <li>Designed and developed responsive websites and web
                    applications using HTML, CSS, and JavaScript.</li>
                <li>Worked closely with clients to understand their needs and
                    ensure project milestones were met on time.</li>
            </ul>

            <h2>Education</h2>
            <h4>Bachelor of Science in Computer Science</h4>
            <p><strong>University of California, Los Angeles</strong> | Los
                Angeles, CA | 2011 - 2015</p>

            <h2>Skills</h2>
            <ul>
                <li><strong>Programming Languages:</strong> Java, Python,
                    JavaScript</li>
                <li><strong>Web Technologies:</strong> HTML, CSS, jQuery,
                    AngularJS, Bootstrap</li>
                <li><strong>Database:</strong> SQL, MySQL, PostgreSQL</li>
            </ul>

            <h2>Languages</h2>
            <ul>
                <li>English (Fluent)</li>
                <li>Spanish (Intermediate)</li>
                <li>Mandarin (Basic)</li>
            </ul>
        </div>
    </div>
</div>

<button class="btn btn-primary" (click)= 'toPdf()'>Download</button>