<h4>Internships</h4>
<div>
    <form [formGroup]="internshipsForm">
        <div formArrayName="internships">
            <div class = "add-internship" *ngFor="let internships of internships.controls;
             let i = index" [formGroupName]="i">
                
                <div class = "personal-row">
                    <div class = "unit ">
                        <label for="internshipEmployer">Employer</label>
                        <input type="text" class = "form-control" 
                        id="internshipEmployer" placeholder="e.g. BGI Ethiopia" 
                        formControlName="employer"/>
                    </div>
                    <div class = "unit">
                        <label for="internshipJobTitle">Job Title</label>
                        <input type="text" class = "form-control" 
                        id="internshipJobTitle" placeholder="e.g. Intern Industrial Electrician" 
                        formControlName="jobTitle">
                    </div>
            </div>


            <div class = "personal-row">

            <div class = "unit">
                <div >
                    <label for="internshipStartDate">Start Date</label>
                    <input type="date" class = "form-control"  
                    id="internshipStartDate" placeholder="Experience Start Date" 
                    formControlName="startDate">
                </div>
                <div  >
                    <label for="internshipEndDate">End Date</label>
                    <input type="date" class = "form-control"  
                    id="internshipEndDate" placeholder="Experience End Date" formControlName="endDate">
                </div>
            </div>


                <div class="unit">
                    <label for="internshipCity">City</label>
                    <input type="text"  class = "form-control"  
                    id="internshipCity" placeholder="e.g. Harar" formControlName="city">
                </div>

            </div>
            
                <div>
                    <label for="internshipDescription">Description</label>
                    <textarea  type="text" class = "form-control"
                      id="internshipDescription" placeholder="Experience Description"
                       formControlName="description" rows="5"></textarea>
                </div>
                <button class = "btn btn-outline-danger" 
                type="button" (click)="removeExperience(i)">
                    Remove Experience
                </button>
            </div>
        </div>
        <button type="button" class = "btn btn-outline-primary" (click)="addExperience()">
            Add internship
        </button>
    </form>
</div>